.flag {
	width: 16px;
	height: 10px;
	background:url(public/flags.png) no-repeat
}
.bw-flag {
	width: 16px;
	height: 10px;
	background:url(public/bw-flags.png) no-repeat
}

.flag-ad, .flag-andorra                {background-position: -16px 0}
.flag-ae, .flag-united-arab-emirates   {background-position: -32px 0}
.flag-af, .flag-afghanistan            {background-position: -48px 0}
.flag-ag, .flag-antigua-and-barbuda    {background-position: -64px 0}
.flag-ai, .flag-anguilla               {background-position: -80px 0}
.flag-al, .flag-albania                {background-position: -96px 0}
.flag-am, .flag-armenia                {background-position: -112px 0}
.flag-an                               {background-position: -128px 0}
.flag-ao, .flag-angola                 {background-position: -144px 0}
.flag-aq, .flag-antarctica             {background-position: 0 0}
.flag-ar, .flag-argentina              {background-position: -160px 0}
.flag-as, .flag-american-samoa         {background-position: -176px 0}
.flag-at, .flag-austria                {background-position: -192px 0}
.flag-au, .flag-australia              {background-position: -208px 0}
.flag-aw, .flag-aruba                  {background-position: -224px 0}
.flag-ax, .flag-aland-islands          {background-position: 0 0}
.flag-az, .flag-azerbaijan             {background-position: -240px 0}

.flag-ba, .flag-bosnia-and-herzegovina {background-position: 0 -10px}
.flag-bb, .flag-barbados               {background-position: -16px -10px}
.flag-bd, .flag-bangladesh             {background-position: -32px -10px}
.flag-be, .flag-belgium                {background-position: -48px -10px}
.flag-bf, .flag-burkina-faso           {background-position: -64px -10px}
.flag-bg, .flag-bulgaria               {background-position: -80px -10px}
.flag-bh, .flag-bahrain                {background-position: -96px -10px}
.flag-bi, .flag-burundi                {background-position: -112px -10px}
.flag-bj, .flag-benin                  {background-position: -128px -10px}
.flag-bl, .flag-saint-barthelemy       {background-position: 0 0}
.flag-bm, .flag-bermuda                {background-position: -144px -10px}
.flag-bn, .flag-brunei-darussalam      {background-position: -160px -10px}
.flag-bo, .flag-bolivia                {background-position: -176px -10px}
.flag-bq, .flag-bonaire, .flag-bonaire-sint-eustatius-and-saba {background-position: 0 0}
.flag-br, .flag-brazil                 {background-position: -192px -10px}
.flag-bs, .flag-bahamas                {background-position: -208px -10px}
.flag-bt, .flag-bhutan                 {background-position: -224px -10px}
.flag-bv, .flag-bouvet-island          {background-position: -240px -10px}
.flag-bw, .flag-botswana               {background-position: 0 -20px}
.flag-by, .flag-belarus                {background-position: -16px -20px}
.flag-bz, .flag-belize                 {background-position: -32px -20px}

.flag-ca, .flag-canada                 {background-position: -48px -20px}
.flag-cc, .flag-cocos-islands, .flag-keeling-islands {background-position: 0 0}
.flag-cd, .flag-congo-democratic-republic {background-position: -64px -20px}
.flag-cf, .flag-central-african-republic {background-position: -80px -20px}
.flag-cg, .flag-congo                  {background-position: -96px -20px}
.flag-ch, .flag-switzerland            {background-position: -112px -20px}
.flag-ci, .flag-cote-d-ivoire          {background-position: -128px -20px}
.flag-ck, .flag-cook-islands           {background-position: -144px -20px}
.flag-cl, .flag-chile                  {background-position: -160px -20px}
.flag-cm, .flag-cameroon               {background-position: -176px -20px}
.flag-cn, .flag-china                  {background-position: -192px -20px}
.flag-co, .flag-colombia               {background-position: -208px -20px}
.flag-cr, .flag-costa-rica             {background-position: -224px -20px}
.flag-cu, .flag-cuba                   {background-position: -240px -20px}
.flag-cv, .flag-cabo-verde             {background-position: 0 -30px}
.flag-cw, .flag-curacao                {background-position: -16px -30px}
.flag-cy, .flag-cyprus                 {background-position: -32px -30px}
.flag-cz, .flag-czech-republic         {background-position: -48px -30px}

.flag-de, .flag-germany                {background-position: -64px -30px}
.flag-dj, .flag-djibouti               {background-position: -80px -30px}
.flag-dk, .flag-denmark                {background-position: -96px -30px}
.flag-dm, .flag-dominica               {background-position: -112px -30px}
.flag-do, .flag-dominican-republic     {background-position: -128px -30px}
.flag-dz, .flag-algeria                {background-position: -144px -30px}

.flag-ec, .flag-ecuador                {background-position: -160px -30px}
.flag-ee, .flag-estonia                {background-position: -176px -30px}
.flag-eg, .flag-egypt                  {background-position: -192px -30px}
.flag-eh, .flag-western-sahara         {background-position: -208px -30px}
.flag-er, .flag-eritrea                {background-position: -224px -30px}
.flag-es, .flag-spain                  {background-position: -240px -30px}
.flag-et, .flag-ethiopia               {background-position: 0 -40px}
.flag-eu, .flag-european-union         {background-position: -16px -40px}

.flag-fi, .flag-finland                {background-position: -32px -40px}
.flag-fj, .flag-fiji                   {background-position: -48px -40px}
.flag-fk, .flag-falkland-islands       {background-position: -64px -40px}
.flag-fm, .flag-micronesia             {background-position: -80px -40px}
.flag-fo, .flag-faroe-islands          {background-position: -96px -40px}
.flag-fr, .flag-france                 {background-position: -112px -40px}

.flag-ga, .flag-gabon                  {background-position: -128px -40px}
.flag-gb, .flag-uk, .flag-great-britain, .flag-united-kingdom {background-position: -32px -150px}
.flag-gd, .flag-grenada                {background-position: -144px -40px}
.flag-ge, .flag-georgia                {background-position: -160px -40px}
.flag-gf, .flag-french-guiana          {background-position: -176px -40px}
.flag-gg, .flag-guernsey               {background-position: -192px -40px}
.flag-gh, .flag-ghana                  {background-position: -208px -40px}
.flag-gi, .flag-gibraltar              {background-position: -224px -40px}
.flag-gl, .flag-greenland              {background-position: -240px -40px}
.flag-gm, .flag-gambia                 {background-position: 0 -50px}
.flag-gn, .flag-guinea                 {background-position: -16px -50px}
.flag-gp, .flag-guadeloupe             {background-position: -32px -50px}
.flag-gq, .flag-equatorial-guinea      {background-position: -48px -50px}
.flag-gr, .flag-greece                 {background-position: -64px -50px}
.flag-gs                               {background-position: -80px -50px}
.flag-gt, .flag-guatemala              {background-position: -96px -50px}
.flag-gu, .flag-guam                   {background-position: -112px -50px}
.flag-gw, .flag-guinea-bissau          {background-position: -128px -50px}
.flag-gy, .flag-guyana                 {background-position: -144px -50px}

.flag-hk {background-position: -160px -50px}
.flag-hm {background-position: -176px -50px}
.flag-hn {background-position: -192px -50px}
.flag-hr {background-position: -208px -50px}
.flag-ht {background-position: -224px -50px}
.flag-hu {background-position: -240px -50px}

.flag-id {background-position: 0 -60px}
.flag-ie {background-position: -16px -60px}
.flag-il {background-position: -32px -60px}
.flag-im {background-position: -48px -60px}
.flag-in {background-position: -64px -60px}
.flag-io {background-position: -80px -60px}
.flag-iq {background-position: -96px -60px}
.flag-ir {background-position: -112px -60px}
.flag-is {background-position: -128px -60px}
.flag-it {background-position: -144px -60px}

.flag-je {background-position: -160px -60px}
.flag-jm {background-position: -176px -60px}
.flag-jo {background-position: -192px -60px}
.flag-jp, .flag-japan {background-position: -208px -60px}

.flag-ke {background-position: -224px -60px}
.flag-kg {background-position: -240px -60px}
.flag-kh {background-position: 0 -70px}
.flag-ki {background-position: -16px -70px}
.flag-km {background-position: -32px -70px}
.flag-kn {background-position: -48px -70px}
.flag-kp {background-position: -64px -70px}
.flag-kr {background-position: -80px -70px}
.flag-kw {background-position: -96px -70px}
.flag-ky {background-position: -112px -70px}
.flag-kz {background-position: -128px -70px}

.flag-la {background-position: -144px -70px}
.flag-lb {background-position: -160px -70px}
.flag-lc {background-position: -176px -70px}
.flag-li {background-position: -192px -70px}
.flag-lk {background-position: -208px -70px}
.flag-lr {background-position: -224px -70px}
.flag-ls {background-position: -240px -70px}
.flag-lt {background-position: 0 -80px}
.flag-lu {background-position: -16px -80px}
.flag-lv {background-position: -32px -80px}
.flag-ly {background-position: -48px -80px}

.flag-ma {background-position: -64px -80px}
.flag-mc {background-position: -80px -80px}
.flag-md {background-position: -96px -80px}
.flag-me {background-position: -112px -80px}
.flag-mg {background-position: -128px -80px}
.flag-mh {background-position: -144px -80px}
.flag-mk {background-position: -160px -80px}
.flag-ml {background-position: -176px -80px}
.flag-mm {background-position: -192px -80px}
.flag-mn {background-position: -208px -80px}
.flag-mo {background-position: -224px -80px}
.flag-mp {background-position: -240px -80px}
.flag-mq {background-position: 0 -90px}
.flag-mr {background-position: -16px -90px}
.flag-ms {background-position: -32px -90px}
.flag-mt {background-position: -48px -90px}
.flag-mu {background-position: -64px -90px}
.flag-mv {background-position: -80px -90px}
.flag-mw {background-position: -96px -90px}
.flag-mx {background-position: -112px -90px}
.flag-my {background-position: -128px -90px}
.flag-mz {background-position: -144px -90px}

.flag-na {background-position: -160px -90px}
.flag-nc {background-position: -176px -90px}
.flag-ne {background-position: -192px -90px}
.flag-nf {background-position: -208px -90px}
.flag-ng {background-position: -224px -90px}
.flag-ni {background-position: -240px -90px}
.flag-nl {background-position: 0 -100px}
.flag-no {background-position: -16px -100px}
.flag-np {background-position: -32px -100px}
.flag-nr {background-position: -48px -100px}
.flag-nu {background-position: -64px -100px}
.flag-nz {background-position: -80px -100px}

.flag-om {background-position: -96px -100px}

.flag-pa {background-position: -112px -100px}
.flag-pe {background-position: -128px -100px}
.flag-pf {background-position: -144px -100px}
.flag-pg {background-position: -160px -100px}
.flag-ph {background-position: -176px -100px}
.flag-pk {background-position: -192px -100px}
.flag-pl {background-position: -208px -100px}
.flag-pm {background-position: -224px -100px}
.flag-pn {background-position: -240px -100px}
.flag-pr {background-position: 0 -110px}
.flag-ps {background-position: -16px -110px}
.flag-pt {background-position: -32px -110px}
.flag-pw {background-position: -48px -110px}
.flag-py {background-position: -64px -110px}

.flag-qa {background-position: -80px -110px}

.flag-re {background-position: -96px -110px}
.flag-ro {background-position: -112px -110px}
.flag-rs {background-position: -128px -110px}
.flag-ru {background-position: -144px -110px}
.flag-rw {background-position: -160px -110px}

.flag-sa {background-position: -176px -110px}
.flag-sb {background-position: -192px -110px}
.flag-sc {background-position: -208px -110px}
.flag-sd {background-position: -224px -110px}
.flag-se {background-position: -240px -110px}
.flag-sg {background-position: 0 -120px}
.flag-sh {background-position: -16px -120px}
.flag-si {background-position: -32px -120px}
.flag-sk, .flag-slovakia             {background-position: -48px -120px}
.flag-sl {background-position: -64px -120px}
.flag-sm {background-position: -80px -120px}
.flag-sn {background-position: -96px -120px}
.flag-so {background-position: -112px -120px}
.flag-sr {background-position: -128px -120px}
.flag-ss {background-position: -144px -120px}
.flag-st {background-position: -160px -120px}
.flag-sv {background-position: -176px -120px}
.flag-sx {background-position: -192px -120px}
.flag-sy {background-position: -208px -120px}
.flag-sz, .flag-swaziland  {background-position: -224px -120px}

.flag-tc, .flag-turks-and-caicos {background-position: -240px -120px}
.flag-td, .flag-chad {background-position: 0 -130px}
.flag-tf, .flag-french-southern-territories {background-position: -16px -130px}
.flag-tg, .flag-togo {background-position: -32px -130px}
.flag-th, .flag-thailand {background-position: -48px -130px}
.flag-tj, .flag-tajikistan {background-position: -64px -130px}
.flag-tk, .flag-tokelau {background-position: -80px -130px}
.flag-tl, .flag-timor-leste {background-position: -96px -130px}
.flag-tm, .flag-turkmenistan {background-position: -112px -130px}
.flag-tn, .flag-tunisia {background-position: -128px -130px}
.flag-to, .flag-tonga {background-position: -144px -130px}
.flag-tr, .flag-turkey {background-position: -160px -130px}
.flag-tt, .flag-trinidad-and-tobago {background-position: -176px -130px}
.flag-tv, .flag-tuvalu {background-position: -192px -130px}
.flag-tw, .flag-taiwan {background-position: -208px -130px}
.flag-tz, .flag-tanzania         {background-position: -224px -130px}

.flag-ua, .flag-ukraine {background-position: -240px -130px}
.flag-ug, .flag-uganda {background-position: 0 -140px}
.flag-um {background-position: -16px -140px}
.flag-us, .flag-united-states {background-position: -16px -140px}
.flag-uy, .flag-uruguay {background-position: -32px -140px}
.flag-uz, .flag-uzbekistan {background-position: -48px -140px}

.flag-va, .flag-holy-see, .flag-vatican-city {background-position: -64px -140px}
.flag-vc, .flag-saint-vincent-and-the-grenadines {background-position: -80px -140px}
.flag-ve, .flag-venezuela {background-position: -96px -140px}
.flag-vg, .flag-virgin-islands-gb {background-position: -112px -140px}
.flag-vi, .flag-virgin-islands-us {background-position: -128px -140px}
.flag-vn, .flag-viet-nam, .flag-vietnam {background-position: -144px -140px}
.flag-vu, .flag-vanuatu {background-position: -160px -140px}

.flag-wf, .flag-wallis-and-futuna {background-position: -176px -140px}
.flag-ws, .flag-samoa {background-position: -192px -140px}

.flag-ye, .flag-yemen  {background-position: -208px -140px}
.flag-yt, .flag-mayotte {background-position: -224px -140px}

.flag-za, .flag-south-africa {background-position: -240px -140px}
.flag-zm, .flag-zambia {background-position: 0 -150px}
.flag-zw, .flag-zimbabwe {background-position: -16px -150px}

.flag-england {background-position: -48px -150px}
.flag-independent-olympic-athletes {background-position: -240px -150px}
